<h2 style="color: aliceblue;" class="text-center"> 
  @if(habit){
    EDITAR
  }
  @else {
    CREAR
  }
  REGISTRO DE HABITACION
</h2>   

<div class="d-flex justify-content-center" style="color: aliceblue;">
    @if (form) {
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
          <label for="precio_noche">Precio por noche:</label>
          <input type="number" id="precio_noche" formControlName="precio_noche" class="form-control" required>
          <div *ngIf="form.get('precio_noche')?.touched && form.get('precio_noche')?.invalid" class="text-danger">
            <small *ngIf="form.get('precio_noche')?.errors?.['required']">El precio por noche es obligatorio.</small>
            <small *ngIf="form.get('precio_noche')?.errors?.['min']">El precio no puede ser negativo.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="estado">Estado:</label>
          <select id="estado" formControlName="estado" class="form-control" required>
            <option [value]="true">Disponible</option>
            <option [value]="false">No Disponible</option>
          </select>
        </div>
        <div class="form-group">
          <label for="capacidad_personas">Capacidad de Personas:</label>
          <input type="number" id="capacidad_personas" formControlName="capacidad_personas" class="form-control" required>
          <div *ngIf="form.get('capacidad_personas')?.touched && form.get('capacidad_personas')?.invalid" class="text-danger">
            <small *ngIf="form.get('capacidad_personas')?.errors?.['required']">La capacidad de personas es obligatoria.</small>
            <small *ngIf="form.get('capacidad_personas')?.errors?.['min']">La capacidad no puede ser negativa.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="servicios">Servicios:</label>
          
          <select id="servicios" formControlName="servicios" class="form-control" required>
            <option value="wifi">WIFI</option>
            <option value="tv">TV</option>
            <option value="aire acondicionado">Aire Acondicionado</option>
          

          </select>
        </div>
        
        <div class="form-group">
          <label for="numero_camas">Número de Camas:</label>
          <input type="number" id="numero_camas" formControlName="numero_camas" class="form-control" required>
          <div *ngIf="form.get('numero_camas')?.touched && form.get('numero_camas')?.invalid" class="text-danger">
            <small *ngIf="form.get('numero_camas')?.errors?.['required']">El número de camas es obligatorio.</small>
            <small *ngIf="form.get('numero_camas')?.errors?.['min']">El número de camas no puede ser negativo.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="tipo_cama">Tipo de Cama:</label>
          <!-- <input type="text" id="tipo_cama" formControlName="tipo_cama" class="form-control" required> -->
           <select id="tipo_cama" formControlName="tipo_cama" class="form-control">
            <option value="Queen Size">Queen Size</option>
            <option value="King Size">King Size</option>
            <option value="Individual">Individual</option>
            <option value="Matrimonial">Matrimonial</option>
            
           </select>
          
        </div>
        <div class="form-group">
            <label for = "tipo_habitacion">Tipo De Habitacion:</label>
            <select id="tipo_habitacion" formControlName="tipo_habitacion"class="form-control" required> 
              <option value="Indiviual">Indiviual</option>
              <option value="Doble">Doble</option>            
              <option value="Suite">Suite</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
          
          @if(habit){
            Actualizar
          }
          @else {
            Crear
          }
           Habitación</button>
      </form>
    }
</div>