<!-- <div class="texto-blanco">
    <h1>Home</h1>
    <p>Esta es la página de inicio de la aplicación.</p>
    <p>Para navegar a otras páginas, utiliza el menú de navegación.</p>

    @for (hab of habitaciones; track $index) {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">id de la habitacion : {{ hab.id }}</h5>
                <p class="card-text">numero de camas:{{ hab.numero_camas }}</p>
                <p class="card-text">precio por noche: {{hab.precio_noche}} </p>
                <a href="#" class="btn btn-primary">Ver detalles</a>
            </div>
        </div>

    }


</div> -->



<div>

    <button >
        Agregar habitacion
        
    </button>

    <button (click)="getHabitaciones()">
        Ver habitaciones
    </button>


</div>