        <form [formGroup]="form" (ngSubmit)="save()" >
            <div class="container">
                <div class="input-group">
                    <label>Cliente</label>
                    <select formControlName="cliente_id" class="form-select" id="cliente_id">
                        @for (clie of clientes; track clie.id) {
                            @if (clie.estado) {
                                <option value="{{clie.id}}">{{clie.persona.nombre}}  {{clie.persona.apellido}}</option>
                            }
                            
                        }
                    </select>
                    <div *ngIf="form.get('cliente_id')?.hasError('required') && form.get('cliente_id')?.touched" class="text-danger">
                        Seleccionar un cliente es obligatorio.
                    </div>
                </div>
                <div class="input-group">
                    <label > fecha Entrada</label>
                    <br>
                    <input type="date" formControlName="fecha_inicio" class="form-control" id="fecha_inicio">
                    <div *ngIf="form.get('fecha_inicio')?.hasError('required') && form.get('fecha_inicio')?.touched" class="text-danger">
                La fecha de entrada es obligatoria.
            </div>
                </div>
                <div class="input-group">
                    <label> fecha Salida</label>
                    <input type="date" formControlName="fecha_fin" class="form-control" id="fecha_fin">
                    <div *ngIf="form.get('fecha_fin')?.hasError('required') && form.get('fecha_fin')?.touched" class="text-danger">
                        La fecha de salida es obligatoria.
                    </div>
                    <div *ngIf="form.errors?.['invalidDateRange'] && (form.touched || form.dirty)" class="text-danger">
                        La fecha de entrada no puede ser posterior a la fecha de salida.
                    </div>
                </div>
                <div class="input-group">
                <label > Habitaciones Disponibles</label>
                <select formControlName="habitacion_id" class="form-select" id="habitacion_id">
                    <option *ngFor="let habitacion of habitaciones" [value]="habitacion.id">
                        Habitación {{ habitacion.id }} - ({{ habitacion.precio_noche | currency }})
                    </option>
                </select>
                <div *ngIf="form.get('habitacion_id')?.hasError('required') && form.get('habitacion_id')?.touched" class="text-danger">
                    Seleccionar una habitación es obligatorio.
                </div>
                

                
            </div>
            <div class="input-group">
                <label for="estadoReserva" class="form-label">Estado de la Reserva</label>
                <select formControlName="estadoReserva" class="form-select" id="estadoReserva">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Confirmada">Confirmada</option>
                    <option value="En espera">En espera</option>
                    <option value="Cancelada">Cancelada</option>
                    <option value="Completada">Completada</option>
                </select>
                <div *ngIf="form.get('estadoReserva')?.hasError('required') && form.get('estadoReserva')?.touched" class="text-danger">
                    Seleccionar el estado de la reserva es obligatorio.
                </div>
            </div>
            <div class="btn btn-group ">
                
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid">
                        {{ reser ? 'Actualizar Reserva' : 'Crear Reserva' }}
                    </button>
                </div>
                
            </div>
            
        </div>
    </form>
    