<body>
    
    <div class="container">
        <div class="input-group">
            <label > fecha Entrada</label>
            <input type="date" />
        </div>
        <div class="input-group">
            <label class="" > fecha Salida</label>
            <input type="date" />
        </div>
        <div class="input-group">
            <select>
                <option value="1">Habitacion</option>
                <option value="2">Habitacion</option>
                <option value="3">Habitacion</option>
                <option value="4">Habitacion</option>
                <option value="5">Habitacion</option>
            </select>
            
        </div>
        
        <div class="btn btn-group ">
            <button class="btn btn-primary">Reservar</button>
            
        </div>
    
</div>