<br>
<div class="text-end">
    <button (click)="goToNew()"  class="btn btn-success" >
        Nueva Habitacion
    </button>
</div>


<!-- <table style="color: aliceblue; border-spacing: 10px; width: 100%;">  -->
<!-- <div [class.hidden]="!mostarTabla"> -->
<div>
<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
        <th style="padding: 20px;"> Id </th>
        <th style="padding: 20px;"> Numero de Camas</th>
        <th style="padding: 20px;"> Precio por noche</th>
        <th style="padding: 20px;">Estado</th>
        <th style="padding: 20px;"> Capacidad de personas</th>
        <th style="padding: 20px;"> tipo cama</th>
        <th style="padding: 20px;"> Servicios</th>
        <th style="padding: 20px;"> Tipo de Habitacion</th>
        <th style="padding: 20px;"> Opciones</th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
        @for (hab of habitaciones; track hab.id) {
            <tr>
            <th style="padding: 10px;">{{hab.id}}</th>
            <th style="padding: 10px;">{{hab.numero_camas}}</th>
            <th style="padding: 10px;">{{hab.precio_noche}}</th>
            <th style="padding: 10px;">{{hab.estado == true? 'Disponible' :'No Disponible'}}</th>
            <th style="padding: 10px;">{{hab.capacidad_personas}}</th>
            <th style="padding: 10px;">{{hab.tipo_cama}}</th>
            <th style="padding: 10px;">                 {{ hab.servicios | json }}
            </th>
            
            <th style="padding: 10px;">{{hab.tipo_habitacion}}</th>
            <td>
                <div class="btn-group">
                    <button (click)="goToEdit(hab.id)" class="btn btn-primary" > Editar </button> <!-- funcion para redireccionar a la pagina de edicion -->
                    
                    <button (click)="deleteHabitacion(hab.id)" class="btn btn-danger"  > Eliminar </button>
                </div>
            </td>
            <td class="text-end"></td>
                
        
        </tr>
        }
    </tbody>
</table>
</div>





